.Home {
    /* width: 100%; */
    /* min-height: calc(100vh - 60px);
    padding-top: 8rem;
    justify-content: center;
    align-content: center;
    font-weight: bold; */
    /* color: white; */
    /* display: flex; */
  }